*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li,img{
    cursor: pointer;
}

body{
    height: 100vh;
    background-color: rgba(211, 211, 211, 0.24);
}


/*************RIGHT COLUMN***********/

#right-column{
    grid-area: right;
    display: flex;
    flex-direction: column;
    height: 900px;
    padding: 5px;
    max-width: 90%; 
    margin : 0 auto; 
}

#right-column .top-right-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:20px;
    height: 400px;
    padding: 10px;
    margin-top : 20px;

}

/*******RIGHT COLUMN ADS**********/

#right-column .top-right-column .ads{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


/******RIGHT COLUMN BIRTHDAY************/

#right-column .top-right-column .birthday{
    height: 400px;
    border-top:1px dashed black;
    border-bottom:1px dashed black;
    padding:10px;
    flex: 1 1 auto;  
}

#right-column .top-right-column .birthday div{
    width: 70px;
    padding: 10px;
    margin : 10px 0;
    height: 70px;
}

#right-column .top-right-column .birthday img{
    width: 100%;
    height: 100%;
}


/******RIGHT COLUMN LIST CONTACT******/

#right-column .list-contact{
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 900px;
    gap:10px;
    flex: 1 1 auto;
}

#right-column .top-right-column .ads{
    height: 150px;
    margin-top: 10px;
}

#right-column .list-contact .list-contact-item{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

#right-column .list-contact .list-contact-item div{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
}

#right-column .list-contact .list-contact-item div img{
    width: 100%;
    height: 100%;
}

#right-column .list-contact .list-contact-item p{
    width: 80;
    padding-left: 10px;
}