*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li,img{
    cursor: pointer;
}

body{
    height: 100vh;
    background-color: rgba(211, 211, 211, 0.24);
}


/* HEADER NAV */

nav{
    height: 50px;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

/***1er nav****/

nav .first-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

nav .first-nav li:first-child{
    width: 25%;
    height: 50px;
    margin-left: 10px;
}

nav .first-nav li:first-child img{
    width: 60%;
    height: 50px;
    border-radius: 50px;
}

nav .first-nav li:last-child {
    width: 80%;
    height: 80%;
}

nav .first-nav li:last-child input{
    width: 90%;
    height: 90%;
    padding: 15px;
    border-radius: 50px;
    border:none;
}

/*****2eme nav****/

nav .second-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

nav .second-nav li{
    margin: 0 10px;
}

nav .second-nav li:hover{
    border-bottom: 3px solid blue;
}

nav .second-nav li:nth-child(1){
    width: 8%;
    height: 45px;
    margin-left: 10px;
}

nav .second-nav li:nth-child(1) img{
    width: 80%;
    height: 80%;
}

nav .second-nav li:nth-child(2){
    width: 8%;
    height: 45px;
    margin-left: 10px;
}

nav .second-nav li:nth-child(2) img{
    width: 80%;
    height: 80%;
}

nav .second-nav li:nth-child(3){
    width: 8%;
    height: 45px;
    margin-left: 10px;
}

nav .second-nav li:nth-child(3) img{
    width: 80%;
    height: 80%;
}

nav .second-nav li:nth-child(4){
    width: 8%;
    height: 45px;
    margin-left: 10px;
}

nav .second-nav li:nth-child(4) img{
    width: 80%;
    height: 80%;
}

nav .second-nav li:nth-child(5){
    width: 8%;
    height: 45px;
    margin-left: 10px;
}
nav .second-nav li:nth-child(5) img{
    width: 80%;
    height: 80%;
}


/******3eme nav********/

nav .third-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

nav .third-nav li{
    margin: 0 10px;
}

nav .third-nav li:nth-child(1){
    width: 8%;
    height: 45px;
    margin-left: 10px;
}

nav .third-nav li:nth-child(1) img{
    width: 80%;
    height: 80%;
}

nav .third-nav li:nth-child(2){
    width: 8%;
    height: 45px;
    margin-left: 10px;
}

nav .third-nav li:nth-child(2) img{
    width: 80%;
    height: 80%;
}

nav .third-nav li:nth-child(3){
    width: 8%;
    height: 45px;
    margin-left: 10px;
}

nav .third-nav li:nth-child(3) img{
    width: 80%;
    height: 80%;
}

nav .third-nav li:nth-child(4){
    width: 8%;
    height: 45px;
    margin-left: 10px;
}

nav .third-nav li:nth-child(4) img{
    width: 80%;
    height: 80%;
}

nav .third-nav li:nth-child(5){
    width: 8%;
    height: 45px;
    margin-left: 10px;
}
nav .third-nav li:nth-child(5) img{
    width: 80%;
    height: 80%;
}

/***********NAV 4 HIDDEN START*******/

nav .hidden{
    display: flex;
    justify-content: space-between;
    align-items: center;
    visibility: hidden;
    width: 100%;
    height: 50px;
    margin-top:10px;
    padding: 0px 15px;
    border-bottom: 1px solid blue;
    position: absolute;
    top:0;
    left:0
}

nav .hidden li{
    cursor: pointer;
}

nav .hidden li:hover{
    border-bottom: 3px solid blue;
}

nav .hidden li:nth-child(1){
    width: 8%;
    height: 45px;
    margin-left: 10px;
}

nav .hidden li:nth-child(1) img{
    width: 80%;
    height: 80%;
}

nav .hidden li:nth-child(2){
    width: 8%;
    height: 45px;
    margin-left: 10px;
}

nav .hidden li:nth-child(2) img{
    width: 80%;
    height: 80%;
}

nav .hidden li:nth-child(3){
    width: 8%;
    height: 45px;
    margin-left: 10px;
}

nav .hidden li:nth-child(3) img{
    width: 80%;
    height: 80%;
}

nav .hidden li:nth-child(4){
    width: 8%;
    height: 45px;
    margin-left: 10px;
}

nav .hidden li:nth-child(4) img{
    width: 80%;
    height: 80%;
}

nav .hidden li:nth-child(5){
    width: 8%;
    height: 45px;
    margin-left: 10px;
}
nav .hidden li:nth-child(5) img{
    width: 80%;
    height: 80%;
}

@media  screen and (max-width : 1100px) {
    nav .hidden{
        visibility: visible;
    }

    nav .first-nav, nav .second-nav, nav .third-nav{
        display: none;
    }
}
